.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: opx 40px;
    padding: 0px 40px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0px 20px;
}

@media screen and (max-width:1024) {}

@media screen and (max-width:768) {
    .navbar a {
        margin: 0px 5px;
    }
}

@media screen and (max-width:480) {
    .navbar {
        flex-direction: column;
    }

    .links {
        flex-direction: column;
    }
}